@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";
@import "themes/blackAndWhite";

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  min-width: 100%;
}

.contentPage {
  display: flex;
}

.pageWrapper {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100vh - var(--navbar-height));
  width: 100%;
}

