.articleInfo {
  margin-bottom: 20px;
  width: 100%;
}

.articleImage {
  margin: 0 auto;
}

.iconWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.blocksContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
