.button {
  cursor: pointer;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
}

.outline {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 30px;
}

.disabled {
  opacity: 0.5;
}
