.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  background: var(--inverted-bg-color);
  transition: width 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  overflow: hidden;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 8px;
}

.collapseButton {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 250px;
  width: 32px;
  align-self: flex-end;
}

.switchers {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .collapseButton {
    align-self: center;
  }

  .switchers {
    flex-direction: column;
  }
}
