.container {
  display: flex;
  gap: 10px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  flex-shrink: 0;
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 var(--primary-color);
}

.caretWrapper {
  position: relative;
}

.caret {
  width: 9px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  animation: 0.7s blink forwards infinite;
}

.error {
  color: var(--error-color);
  margin-top: 5px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}
