.app.blackAndWhite {
  --bg-color: #000;
  --primary-color: #6b6b6b;
  --secondary-color: #15100F;
  --inverted-bg-color: #FDF7F7;
  --inverted-primary-color: #15100F;
  --inverted-secondary-color: #15100F;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgb(157 157 157 / 50%);

  // code
  --code-bg: rgb(26 26 26);

  // card
  --card-bg: #1f1f1f
}
