.app.dark {
  --bg-color: #08082d;
  --inverted-bg-color: #ececff;
  --primary-color: #3d4fa9;
  --secondary-color: #5e668f;
  --inverted-primary-color: #545491;
  --inverted-secondary-color: #808080;

  // skeleton
  --skeleton-color: #475ed2;
  --skeleton-shadow: rgb(0 26 255 / 50%);

  // code
  --code-bg: rgb(0 10 77)
}
