.app.light {
  --bg-color: #ececff;
  --inverted-bg-color: #08082d;
  --primary-color: #545491;
  --secondary-color: #808080;
  --inverted-primary-color: #3d4fa9;
  --inverted-secondary-color: #5e668f;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: rgb(220 220 239)
}
