.menuButton {
  cursor: pointer;
  width: max-content;
  background: none;
  outline: none;
  border: none;
  color: var(--primary-color);
}

.itemsContainer {
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 5px;
  margin-top: 4px;
  border: 1px solid var(--primary-color);
  outline: none;
  display: flex;
  flex-direction: column;
}

.menuItem {
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
  width: 100%;
  text-align: left;
}

.menuItem[data-focus] {
  opacity: 0.6;
  background-color: var(--primary-color);
}

.menuItem[data-disabled] {
  opacity: 0.5;
  cursor: default;
}
